.vid-container{
    display: flex;
    flex-direction: column;
}
.v-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 80px;
    padding: 0 1.25rem;
    height: auto;
    width: 100%;
}
.v-cont{
    display: flex;
    flex-direction: column;
    height: 153vh;
    width:100%;
    max-width: 62%;
    /* background-color: rgb(156, 63, 63); */
}
.vid-con{
    height: 50%;
    width: 100%;
    /* background-color: aqua; */
}

.vid-det{
    height: auto;
    width: 100%;
    /* background-color: yellowgreen; */
    text-transform: capitalize;
    color: aliceblue;
}
.m-title{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: bolder;
    
}
.r-cont{
    display: flex;
    flex-direction: column;
    padding:0 10px;
    /* background-color: rgb(117, 24, 160); */
    height: 153vh;
    width: 100%;
    max-width: 38%;
   
}

.r-cont.r-cont::-webkit-scrollbar {
    width: .5px; 
  }
  
  
  .r-cont::-webkit-scrollbar-track {
    background:  #0a0018;
  }
  
  .r-cont::-webkit-scrollbar-thumb {
    background:  #0a0018;
  }
.d-vid{
    width: 100%;
    height: 100%;
}
.d-vid-title{
    color: white;
}
.v-tca{
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    gap: 30px; 
    padding-bottom: 20px;
    font-size: 12px;
    color: blueviolet;
}
.v-genre{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
    padding-bottom: 20px;
    color: blueviolet;
}
.v-genre-hed{
    color: rgb(221, 221, 221);
    font-size: 20;
}
.g-icon{
    font-size: 10px;
    color: gray;
}
.v-ac-con{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
}
.v-ac-btn{
    /* height: 6.25rem; */
    /* width: 100px; */
    /* background-color: rgb(23, 23, 37); */
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
.v-ac-btn span{
    font-size: 16px;  
    color: rgb(221, 221, 221);
}
.v-ac-btn:hover{
    background-color: rgb(41, 41, 67);
}
.v-ac-share{
    background-color: aqua;
    position: relative;
    bottom: 30px;
    right: 6px;
}
.v-cast{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
    padding-bottom: 20px;
    color: blueviolet;
}
.v-cast-hed{
    color: rgb(221, 221, 221);
    font-size: 20;
}
.v-dir{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
    padding-bottom: 20px;
    color: blueviolet;
}
.v-dir-hed{
    color: rgb(221, 221, 221);
    font-size: 20; 
}
.v-descrip{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
    padding-bottom: 20px;
    color: rgb(221, 221, 221);
    line-height: 20px;
}
.v-descrip-hed{
    color: rgb(221, 221, 221);
    font-size: 20; 
}



@media screen and (max-width: 1199px) {
    
    .v-cont {
      max-width: 100%;
      width: 100%; 
      height: auto; 
    }
    .r-cont{
        display: none;
    }
    .vid-con {
      width: 100%;
      height: auto;
    }
  
    .vid-det{
      padding: 0 1.25rem;
    }
    .v-genre{
      flex-wrap: wrap;
    }
    .m-title {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 24px; 
    }
   .v-ac-con{
    flex-wrap: wrap;
   }
  
  }
  @media screen and (max-width: 1000px){
    .v-top {
      flex-direction: column; 
      padding: 0;
      margin-top: 135px;
    }
  }