.reco-section{
  margin-top: 20px;
}

.re-heading {
    text-transform: capitalize;
    font-size: 25px;
    padding-bottom: 15px;
    color: white;
  }
  
  .rc-Container {
  height: 142vh;
  overflow: scroll;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0 5px;
  justify-items: center;
  align-items: center;
  }
  .rc-Container::-webkit-scrollbar {
    display: none;
  }
  
  .a-btn {
    margin-top: 10px;
  }
  
  .wa-btn,
  .sa-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
  }
  
  .wa-icon,
  .sa-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .item {
      max-height: none;
    }
  
    .a-btn {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 1200px) {
    .rc-Container {
      gap: 0 30px;
    }
    .item {
      max-height: none;
    }
  
    .a-btn {
      display: flex;
      flex-direction: column;
    }
  }