 #wrapper {
    padding: 10px;
    width: 100%;
    max-width: 100%; 
    position: relative;
  } 
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    font-size:20px ;
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  .looding-cont{
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 300px;
    transition: transform 0.3s;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    
  }
  .image-cont {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 300px;
    transition: transform 0.3s;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}
  .item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  .a-btn{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 10px;
  }

  .wa-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
    cursor: pointer;
    padding:8px 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    transition: background-color 0.5s ease-in-out;
   border-radius: 5px;
  }
  .wa-btn a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
  .wa-icon{
   padding-top:2px ;
  }
  .wa-btn:hover{
    border: 1px solid rgb(111, 51, 168);
    background-color: rgb(111, 51, 168);
    
  }
  .wa-btn:hover a{
    color: #ffffff;
  }
  .sa-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 16.5px;
    color: grey;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
  }
  .sa-btn:hover{
    color: rgb(111, 51, 168) ;
  }
  .details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: start;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    /* text-align: center; */
    opacity: 0;
    transition: opacity 0.5s;
}
.c-name{
  margin-bottom: 10px;
}
.image-cont:hover {
  transform: scale(1.1);
  
}
.image-cont:hover .item{
  /* transform: scale(1.1); */
  border: 6px solid white ;
}

.image-cont:hover .details {
  opacity: 1;
}