.my-acc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
    align-items: center;
    padding-top:75px;
    padding-bottom: 20px;
}
.my-acc-section{
    background-color: #0a0018;
    border: 1px solid rgb(44, 43, 44);
    border-radius: 5px;
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    color: white;
    text-transform: capitalize;
    line-height: 50px;
}

.tab-header {
    padding: 20px 0 20px 0;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(33, 26, 39);
    border: 1px solid rgb(44, 43, 44);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .tab {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 5px 50px;
    cursor: pointer;
    user-select: none;
    transition: border-right 0.3s;
  }
  
  /* .tab:hover {
    border-right: 2px solid white;
  }
   */
  .tab.active {
    border-right: 2px solid white;
    font-weight: bold;
  }
  
  .tab-content {
    padding: 20px;
    flex-grow: 1;
    width: 100%;
    display: flex;
   flex-direction: column;

  }
  .tab-item{
    width: 100%;
    /* background-color: bisque; */
  }
  .tab-item-hr{
    margin-top: 20px;
    border-top:1px solid rgb(44, 43, 44);
  }
  
  
  /* profile  */


  .profile-details{
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
    gap: 20px;

  }
  .profile-picture {
    width: 100px;
    height: 100px;
    background-color: blueviolet; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .profile-letter{
    font-size: 50px;
    font-weight: bolder; 
    text-transform: uppercase;
    color: #ffffff;
  }
  .profile-info{
    line-height: 35px;
  }
  .u-email{
   text-transform: initial;
  }
  .up-edit{
    text-decoration: none;
    color: blueviolet;
  }

/*watchlist */

.my-sub-tab-acc-section{
  background-color: #0a0018;
    /* border: 1px solid rgb(44, 43, 44); */
    border-radius: 5px;
    height:85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: capitalize;
    position: relative;
    bottom: 25px;

}
.sub-tab-header{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    transition: border-right 0.3s;
}

.sub-tab {
  width: 10%;
  display: flex;
  align-items: flex-start;
  flex-direction: row; 
  cursor: pointer;
  user-select: none;
  transition: border-right 0.3s;
 
}

.sub-tab.active {
  color: blueviolet;
  font-weight: bold;
}
.sub-tab-content{
  border-top: 1px solid rgb(44, 43, 44);;
  width: 100%;
  height: 100%;
}

/* Subscriptions */

.tab-body{
  background-color: #0a0018;
  /* border: 1px solid rgb(44, 43, 44); */
  border-radius: 5px;
  /* height:85%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
  /* background-color: greenyellow;
   */
}

.tad-empty-icon{
  font-size: 150px;
}
.tab-body h1{
  color: darkgray;
}