.carousel-wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 70px;
}
.splider {
  padding: 8rem;
}
.carousel-container {
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  padding: 0;
}

.carousel-container::-webkit-scrollbar {
  height: 0;
}

.carousel-content {
  display: flex;
  grid-gap: 16px;
  grid-auto-flow: column;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  width: 100%;
  height: 70vh; 
  background: #0f0024;
}

.carousel-prev,
.carousel-next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-prev:hover,
.carousel-next:hover {
  opacity: 0.8;
}

.carousel-prev {
  left: 0;
  display: none;
}

.carousel-next {
  right: 0;
  display: none;
}


@media (max-width: 768px) {
  .carousel-container {
    overflow-x: scroll; 
    padding: 0;
  }

  .carousel-content {
    flex-wrap: nowrap; 
  }

  .carousel-item {
    width: 100%;
    height: auto;
  }

  .carousel-prev,
  .carousel-next {
    display: flex;
  }
}
