hr{
    border: 1px solid rgb(49, 49, 49);
    margin-top: 50px;
}
#footerTop{
    display: flex;
    width: 88vw;
    justify-content: space-between;
    margin: auto;
    margin-top: 26px;
    margin-left: 60px;
    margin-bottom: 20px;
}
#f-Left{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#f-Left>div{
    margin-right: 20px;
}
#f-Left h3{
    /* margin-bottom: 27px; */
    color: white;
}
#f-Right{
    display: flex;
    justify-content: center;
    align-items: center;
}
#f-Right>div{
    margin-right: 20px;
}
#f-Right h3{
    font-size: 17px;
    color: white;
}
.f-icon a{
    box-sizing: border-box;
    background-color: rgb(53, 52, 52);
    display: flex;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
.f-icon a:hover{
    background-color: rgb(79, 6, 147);
    
}

#f-more{
    gap: 10px;
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin-left: 60px;
    color: rgb(199, 186, 186);
    font-family: NotoSansRegular,sans-serif;
}
#f-body{
    display: flex;
    margin-left: 60px;
    margin-top: 15px;
    color: rgb(199, 186, 186);
    font-weight: lighter;
}
#f-body>div{
    margin-right: 17px;
    height: 100%;
}
#f-body ul{
    list-style: none;
    line-height: 29px;
    font-family: NotoSansRegular,sans-serif;
    font-size: .8rem;
    /* font-style: normal; */
}
#f-bott{
    font-size: 12px;
    margin-left: 60px;
    line-height: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
    color: white;
}
.makeBold{
    font-weight: bolder;
    color: white;
}
.op-list{
    cursor: pointer;
}
.op-list:hover{
    color: rgb(129, 15, 236);
}